<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="paintToolWebBase" value="http://localhost:53672/Home/"/>
    <!--<add key="paintToolWebBase" value="http://www.d4r4k.net/myapp/Home/"/>-->
    <add key="imageLoadQuery" value="GetThumbnail?resourceName={0}"/>
    <add key="contourLoadQuery" value="GetContour" />
    <add key="contourSaveQuery" value="UpdateContour" />
  </appSettings>
</configuration>
