@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>CT Slice 1/1/2015</h2>
        <img src="~/Home/GetThumbnail?resourceName=CT_Lung_Metastases_1" style="width:75%" />
        <p>Description of the slice etc.</p>
        <p><a class="btn btn-default" href="http://www.d4r4k.net/myapp/ClientInstall/PaintToolCs.application">Launch PaintTool &raquo;</a></p>
    </div>
</div>